@import 'tailwindcss';


@theme {
    --color-primary: #be123c;
    --color-background: black;
}

* {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid #1f1f1f;
    border-radius: 0;
}

html {
    scrollbar-color: #be123c black;
    scrollbar-width: thin;
}